body {
  margin: 0;
}

/* Navbar */

.logo {
  cursor: pointer;
}

.navbar {
  height: 6vh;
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
};




/* Page Title */

h1 {
  font-family: "Acme";
}

.titlePage {
  font-family: "Acme";
  font-size: 50px;
}

/* Home */

.welcome-with-background {
  height: 60vh;
  background-image: url("images/Background-index.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
  font-size: 60px;
  font-weight: bold;
}

.about-kingdom-container {
  margin-top: 30px; 
  margin-inline: 80px;
  text-align: justify;
}



/* Portrait */

.royal-family-container {
  margin-inline: 80px;
}

.container-portrait {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px #517ea8  solid;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 400ms;
}

.portrait:hover {
  cursor: pointer;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.titleOfCharacter {
  font-size: 30px;
  font-weight: 900;
}



/* Asset Table */

.Assets-Kingdom-Container {
  margin-inline: 80px;
}

table {
  width: 100%;
  border-spacing: 0px;
}

thead {
  background-color: grey;
}

th, td {
  border: 1px solid black;
  margin: 10px 10px;
  padding-inline: 100px;
  text-align: center;
}

.bg-light-grey {
  background-color: #CFD5FF;
}


/* Contact Form */

.contact-container {
  display : flex;
  flex-direction: column;
  justify-content: start;
  margin-inline: 80px;
}

#contactForm .inputForm, textarea {
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  height: 30vh;
}

.button {
  display: flex;
  justify-content: right;
}























