/* Navbar */

.logo {
  cursor: pointer;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
};



/* Page Title */

.titlePage {
  font-size: 600px;
}


/* Home */

.welcome-with-background {
  height: 400px;
  background-image: url("images/Background-index.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
  font-size: 40px;
}

.about-kingdom-container {
  margin-top: 30px; 
  margin-inline: 80px;
  text-align: justify;
}



/* Portrait */

.royal-family-container {
  margin-inline: 80px;
}

.container-portrait {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}



/* Asset Table */

.Assets-Kingdom-Container {
  margin-inline: 80px;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid black;
  margin: 10px 10px;
  padding-inline: 100px;
  text-align: center;
}



/* Contact Form */

.contact-container {
  display : flex;
  flex-direction: column;
  justify-content: start;
  margin-inline: 80px;
}

#contactForm .inputForm, textarea {
  width: 100%;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: right;
}























